---
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout title="404: Not Found" description="The page you're looking for could not be found.">
    <div class="min-h-screen flex items-center justify-center text-center px-4">
        <div>
            <h1 class="text-6xl md:text-8xl font-bold tracking-tight">404</h1>
            <p class="text-lg text-gray-600 mt-2">Page Not Found</p>
            <div class="mt-8">
                <a href="/" class="text-sm font-bold uppercase hover:text-gray-500">
                    Return Home
                </a>
            </div>
        </div>
    </div>
</BaseLayout>
