---
import Layout from '../layouts/Layout.astro';
import InteractiveWelcome from '../components/InteractiveWelcome.jsx';
---

<Layout title="cLc Labs - Welcome">
  <main class="flex flex-col items-center justify-center p-4">
    <InteractiveWelcome client:load />
  </main>
</Layout>