---
const currentYear = new Date().getFullYear();
---
<footer class="p-6 md:p-8">
    <div class="container mx-auto">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-8 text-sm">
            <div>
                <h3 class="font-bold tracking-widest uppercase mb-3">Behelit Systems</h3>
                <p class="text-gray-500">© {currentYear}</p>
            </div>
            <div>
                <h4 class="font-semibold tracking-wider uppercase text-gray-500 mb-3">Menu</h4>
                <ul class="space-y-2">
                    <li><a href="/about" class="hover:text-gray-500">About</a></li>
                    <li><a href="/services" class="hover:text-gray-500">Services</a></li>
                    <li><a href="/community" class="hover:text-gray-500">Community</a></li>
                </ul>
            </div>
            <div>
                <h4 class="font-semibold tracking-wider uppercase text-gray-500 mb-3">Connect</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="hover:text-gray-500" target="_blank">LinkedIn</a></li>
                    <li><a href="#" class="hover:text-gray-500" target="_blank">Twitter</a></li>
                </ul>
            </div>
             <div>
                <h4 class="font-semibold tracking-wider uppercase text-gray-500 mb-3">Contact</h4>
                <ul class="space-y-2">
                    <li><a href="/contact" class="hover:text-gray-500">Get in touch</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>